.body {
  background-color: white;
  text-align: center;
}

.p {
  color: brown;
}

.ICPhoto2022 {
  border-radius: 50%;
  object-fit: cover;
}

.container {

}

.container1 {
  padding-top: 25px;
  background-color: seashell;
  margin: 0 auto;
}


.container2 {
  padding-top: 25px;
  background-color: cornsilk;
  margin: 0 auto;
}